<h1>Posts</h1>
<table>
  <% @blog.each do |blog| %>
<tr>
    <td><%= blog.content %></td>
    <td><%= link_to "show", blog_path(blog.id) %></td>
</tr>
  <% end %>
</table>
<br>
<%= link_to "New post", new_blog_path %>
